.header__logo {
    margin: 0;
    padding: 28px 0 0;
    width: 176px;
    height: 52px;
    object-fit: cover;
    
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
        padding: 16px 0 0;
    }

}
    