.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
    list-style-type: none;
}

@media screen and (max-width: 660px) {
    .footer__links {
        gap: 32px;
        flex-direction: column;
    }
}

