.place__paragraph {
    margin: 0 0 26px;
    padding: 0;
    font-family: "Inter", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    /* or 29px */
    text-align: left;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        margin-bottom: 25px;
        font-size: 16px;
}
}
