.place__website {
    margin: 0;
    padding: 0;
    grid-area: website;
    list-style-type: none;
    align-self: end;
    
}

@media screen and (max-width: 460px) {
    .place__website {
        padding-left: 16px;
    }
}