.intro__title {
    /*max-width: 690px;*/
    margin: 92px 0 40px;
    padding: 0;
    font-family: "Inter", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    text-align: left;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .intro__title {
        margin-top: 88px;
    }
}

@media screen and (max-width: 690px) {
    .intro__title {
        margin-top: 64px;
        font-size: 32px;
        line-height: 1.09;
    }
}